.ymaps-2-1-79-map {
  width: 100% !important;
  height: 100% !important;
}
.ymaps-2-1-79-copyright__wrap {
  display: none !important;
}
.ymaps-2-1-79-map-copyrights-promo {
  display: none !important;
}
