.map {
  width: 100%;
  height: 70vh;
}
.marker {
  // position: absolute;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      position: relative;
      padding: 5px 20px;
      background-color: #fff;
      color: #1dca96;
      font-weight: 600;
      font-size: 14px;
      border-radius: 7px;
      z-index: 2;
    }
    span {
      width: 10px;
      height: 10px;
      background-color: #fff;
      z-index: 1;
      transform: rotate(45deg);
      z-index: 1;
      margin-top: -5px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    }
  }
  img {
    max-width: 40px;
  }
}
.notification {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      h2 {
        font-weight: 500;
        color: var(--clr-black);
      }
      .items {
        display: flex;
        align-items: center;
        gap: 10px;
        .status {
          border-radius: 50px;
          color: #fff;
          padding: 5px 20px;
          &.free {
            background-color: #1dca96;
          }
          &.busy {
            background-color: #ff8282;
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .items {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .item {
        display: flex;
        align-items: center;
        gap: 30px;
        span {
          font-size: 15px;
          &:nth-child(1) {
            color: #a5a5a5;
            max-width: 70px;
            width: 100%;
          }
          &:nth-child(2) {
            color: #404040;
            font-weight: 500;
          }
        }
      }
    }
  }
}
