.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 100vh;
  background-color: var(--clr-gray-100);
  .items {
    display: flex;
    flex-direction: column;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      &:nth-child(1) {
        background-color: transparent !important;
      }
      &.active {
        background-color: var(--clr-gray-200);
      }
    }
  }
}
