.card {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 10px;
  animation-name: example;
  animation-duration: 0.5s;
  height: 70vh;
  overflow: hidden;
  @keyframes example {
    0% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
.incoming {
  .incomingItems {
    height: 100%;
    overflow-y: auto;
    .item {
      position: relative;
      padding: 16px 32px;
      border-radius: 6px;
      background-color: var(--clr-white);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 10px;
      &.active {
        &::before {
          background-color: var(--clr-orange);
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 12px;
        height: 100%;
        background-color: var(--clr-blue);
      }
      .info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
        .text {
          display: flex;
          flex-direction: column;
          span {
            font-size: 13px;
            &:nth-child(1) {
              color: var(--clr-gray);
            }
            &:nth-child(2) {
              font-weight: 500;
              color: var(--clr-black);
            }
          }
        }
      }
    }
  }
}
.processed {
  .processedItems {
    height: 100%;
    overflow-y: auto;
    .item {
      position: relative;
      padding: 16px 32px;
      border-radius: 6px;
      background-color: var(--clr-white);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 10px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 12px;
        height: 100%;
        background-color: var(--clr-green);
      }
      .info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
        &:nth-child(2) {
          .text {
            &:nth-child(2) {
              span {
                &:nth-child(1) {
                  font-weight: 500;
                  color: var(--clr-green);
                }
              }
            }
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          span {
            font-size: 13px;
            &:nth-child(1) {
              color: var(--clr-gray);
            }
            &:nth-child(2) {
              font-weight: 500;
              color: var(--clr-black);
            }
          }
        }
      }
      .btn {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
.brigade {
  .brigadeItems {
    height: 100%;
    overflow-y: auto;
    .item {
      position: relative;
      padding: 16px 20px;
      border-radius: 6px;
      background-color: var(--clr-white);
      overflow: hidden;
      margin-bottom: 10px;
      cursor: pointer;
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        padding-bottom: 20px;
        .items {
          display: flex;
          align-items: center;
          gap: 10px;
          .status {
            border-radius: 50px;
            color: var(--clr-white);
            padding: 5px 20px;
            &.free {
              background-color: var(--clr-green);
            }
            &.busy {
              background-color: var(--clr-red);
            }
            &.lunch {
              background-color: transparent;
              color: var(--clr-green);
              border: 1px solid var(--clr-green);
            }
          }
        }
        .info {
          display: flex;
          align-items: center;
          gap: 30px;
          h3 {
            max-width: 70px;
            width: 70px;
          }
        }
      }
      .info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        span {
          &:nth-child(1) {
            max-width: 70px;
            width: 100%;
            color: var(--clr-gray);
          }
        }
      }
    }
  }
}
