.app {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background-color: var(--clr-white);
  --clr-white: #fff;
  --clr-blue: #5384e4;
  --clr-green: #1dca96;
  --clr-orange: #ffad31;
  --clr-red: #ff8282;
  --clr-black: #404040;
  --clr-gray: #a5a5a5;
  --clr-gray-100: #f5fbff;
  --clr-gray-200: #cbdaf7;
}
.none {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
